<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2020.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0561FE071F03AD3300FF0480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0561FE201F03AD3400FF0480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0561FE2B1F03AD3400FF0480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
